.btnMain__shape {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.btnMain__shapeIcon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

@keyframes bounce-path {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.btnMain__shapePath {
  transition: fill 0.3s ease-in-out, d 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

button:hover .btnMain__shapePath {
  d: path("M172.89733150700192,7.842456417534328 L172.89733150700192,7.842456417534328 Q176.8922356695795,8.044299752376766,177.0810350023706,12.039841619500375 L178.99012251901684,52.441674549713746 Q179.17892185180796,56.43721641683736,175.17955150501456,56.508187038855596 L21.2034340463795,59.24056235907425 Q17.2040636995861,59.31153298109248,17.061392944961593,55.31407815886186 L15.22520077870114,3.8662867114963637 Q15.082530024076632,-0.1311681107342615,19.077434186654212,0.07067522410817603 Z");
  animation: bounce-path 0.6s ease-in-out;
}
